body {
    background-color: #B5CEE4;
  }

a {
    font-size: 20px;
  }

button.goto-login-button {
    font-size: 1.3sem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 100px 20px 100px 200px;
    background-color: #EAEAE0;
    }

button.goto-logout-button {
  font-size: 1.3sem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 100px 20px 100px 20px;
  background-color: #EAEAE0;
  }

button.goto-register-button {
    font-size: 1.3sem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 100px 20px 100px 20px;
    background-color: #EAEAE0;
    }

button.goto-todo-button {
    font-size: 1.3sem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 100px 20px 100px 20px;
    background-color: #EAEAE0;
    }