body {
    background-color: #B5CEE4;
  }

h1 {
    font-size: 30px;
    font-family: "Arial Black";
  }

form dl dt {
    font-size: 18px;
    font-family: "Arial";
    width: 100px;
    padding: 10px 0;
    float: left;
    clear:both;
  }

form dl dd{
    padding: 10px;
  }

button.login-button {
    font-size: 1.3sem;
    font-weight: bold;
    padding: 4px 20px;
    background-color: #EAEAE0;
    }
    
button.goto-register-button {
  font-size: 1.3sem;
  font-weight: bold;
  padding: 4px 20px;
  background-color: #EAEAE0;
  }

button.goto-index-button {
  font-size: 1.3sem;
  font-weight: bold;
  padding: 4px 20px;
  background-color: #EAEAE0;
  }