body{
  background-color: #B5CEE4;
}

.title{
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

h1{
  font-size: 30px;
  font-family: "Arial Black";
}

form{
  font-size: 18px;
  font-family: "Arial";
  clear:both;
}

a{
  text-align: center
}

.inner{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  padding: 20px;
  border: 1px solid black;
}

.link{
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

input{
  width: 250px;
}

button.login-button{
  width: 255px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  background-color: #EAEAE0;
}