body {
    background-color: #B5CEE4;
  }

h1 {
  position: absolute;
  top: -15%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-size: 30px;
  font-family: "Arial Black";
  width: 280px;
}

form {
    font-size: 18px;
    font-family: "Arial";
    clear:both;
  }

.inner{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  padding: 20px;
  border: 1px solid black;
}

input{
  width: 250px;
}

button.register-button {
  width: 255px;
    font-size: 1.3sem;
    font-weight: bold;
    padding: 4px 20px;
    background-color: #EAEAE0;
  }
    
button.goto-login-button {
  font-size: 1.3sem;
  font-weight: bold;
  padding: 4px 20px;
  background-color: #EAEAE0;
  }

button.goto-index-button {
  font-size: 1.3sem;
  font-weight: bold;
  padding: 4px 20px;
  background-color: #EAEAE0;
  }