<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ToDoリストアカウント削除</title>
  </head>
  <body>
    <h1>アカウントを削除しますか？</h1>
    <p>※この操作は復元できません。</P>
    <form action="delete_account">
        <input type="submit" value="削除" />
    </form>
    <form action="todo">
        <input type="submit" value="メインページへ" />
    </form>
  </body>
</html>
