<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ToDoリストへようこそ！</title>
    <link rel="stylesheet" href="/css/index.css"/>
  </head>
  <body>
    <div class="inner">
      <% if(typeof uid !== 'undefined' ){%>
        <button class="goto-todo-button" onclick="location.href='todo'">ToDoに移動</button></br>
        <button class="goto-logout-button" onclick="location.href='account_page'">アカウントページ</button></br>
      <% } else { %>
        <button class="goto-login-button" onclick="location.href='login'">ログイン</button></br>
        <button class="goto-register-button" onclick="location.href='register'">新規登録</button></br>
      <% } %>
    </div>
  </body>
</html>
