<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ToDoリストログイン</title>
  </head>
  <body>
    <h1>ログアウトしますか？</h1>
    <form action="logout_account">
        <input type="submit" value="ログアウト" />
    </form>
    <form action="todo">
        <input type="submit" value="メインページへ" />
    </form>
  </body>
</html>
