<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ToDoリストログアウト</title>
    <link rel="stylesheet" href="/css/logout.css"/>
  </head>
  <body>
    <div class="title"><h1>ログアウト</h1></div>
    <div class="inner">
      ログアウトしますか？
      <form action="">
        <button class="goto-logout-button" type="submit"> ログアウト </button>
      </form>
      <form action="/todo">
        <button class="goto-index-button" onclick="location.href='/'"> メインページへ </button>
      </form>
    </div>
  </body>
</html>
