<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ToDoリスト登録</title>
  </head>
  <body>
    <h1>登録</h1>
    <form action="/register" method="post">
    　ID
      <input type="text" id="user-id"><br>
      password
      <input type="password" id="password"><br>
      <button type="submit"> 登録</button>
    </form>
    または
    <a href="login">ログイン</a>
  </body>
</html>
