<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ToDoリストへようこそ！</title>
    <link rel="stylesheet" href="/public/css/index.css"/>
  </head>
  <body>
    <button onclick="location.href='/login'" class="login-button">ログイン</button>
    <a href="logout">ログアウト</a><br>
    <button onclick="location.href='/register'" class="register-button">新規登録</button>
    <button onclick="location.href='/todo'" class="todo-button">ToDoに移動</button>
    <% if(typeof uid !== 'undefined' ){%>
      <p>welcome <%= uid %> !</p>
    <% } %>
  </body>
</html>
