<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ToDoリスト</title>
    <script type="text/javascript" src="../scripts/todo.js"></script>
  </head>
  <body>
    <h1>ToDoリスト</h1>
    <ul type="disc">
      <% id_test.forEach((todo) => { %>
        <li><%= todo.todo %>
          <form action="/delete/<%= todo.id %>" method="post">
            <input type="submit" value="削除">
          </form>
        </li>
      <% }) %>
    </ul>
    <form action="/add" method="post" id="add-list">
      <input type="text" id="todo" name="todo">
      <button type="submit" id="add-list"> 登録</button>
    </form>
  </body>
</html>
